<article class="article-calendar">
    <div class="aside-container">
        <app-aside></app-aside>
    </div>
    <span #error_msg_ref class="popup error-msg"></span>
    <span #success_msg_ref class="popup success-msg"></span>

    <section class="calendar-container">
        <header class="header__calendar">
            <div class="month-container">
                <div class="arrow-solid" (click)="prev_month()">
                    <div class="icon arrow-icon"></div>
                </div>
                <h2 class="month">{{actualMonth}}</h2>
                <div class="arrow-solid as-2" (click)="next_month()">
                    <div class="icon arrow-icon"></div>
                </div>
            </div>
            <select class="year-select" [(ngModel)]="modelYear" (change)="getDetailsOfMonth(month_no+1, modelYear)">
                <option *ngFor="let year of years_available" [selected]="actualYear == modelYear" [value]="year" [disabled]="month_no > actualMonth_no || month_no < INIT_MONTH">{{year}}</option>
            </select>
        </header>
        <div class="body__calendar">
            <div *ngFor="let day of days_of_month" #dayContainer (click)="setDateSelected(day)" class="day-container {{ (modelYear == actualYear && month_no == actualMonth_no && day > actualDay) && 'disable-day'}} {{ (modelYear == INIT_YEAR && month_no == INIT_MONTH && day < INIT_DAY) && 'disable-day'}} {{modelYear == actualYear && month_no == actualMonth_no && day == actualDay && 'fill-actual-day'}}">
                <span class="day-no">{{day}}</span>
                <div *ngIf="checkDay(day)[0] == 3" class='emoji-day happy'></div>
                <div *ngIf="checkDay(day)[0] == 2" class='emoji-day regular'></div>
                <div *ngIf="checkDay(day)[0] == 1" class='emoji-day sad'></div>
            </div>
            <!--<div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">2</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">3</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">4</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">5</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">6</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">7</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">8</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">9</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">10</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">11</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">12</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">13</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">14</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">15</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">16</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">17</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">18</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">19</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">20</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">21</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">22</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">23</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">24</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">25</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">26</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">27</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">28</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">29</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">30</span>
            </div>
            <div #dayContainer (click)="toggleEventContainer('open')" class="day-container">
                <span class="day-no">31</span>
            </div>-->
        </div>  

        <section class="events-container {{ !isEventContainerHidden && 'hidden'}}">
            <div class="events">
                <h1>Eventos</h1>
                <section>
                    <div class="event-c">
                        <p class="event">Sexo</p>
                        <p class="event">Salir</p>
                        <p class="event">Cine</p>
                        <p class="event">Piso</p>
                        <p class="event">Coche</p>
                        <p class="event">Campo putas</p>
                        <p class="event">Pillar a tu madre</p>
                        <p class="event">Coca juntos</p>
    
                        <div class="icon plus-icon"></div>
                    </div>
                    <hr>
                    <div class="event-c">
                        <div class="event completed">
                            <p>Sexo</p>
                            <div class="bg-icon">
                                <div class="icon check-icon"></div>
                            </div>
                        </div>
                        <div class="event completed">
                            <p>Salir</p>
                            <div class="bg-icon">
                                <div class="icon check-icon"></div>
                            </div>
                        </div>
                        <div class="event completed">
                            <p>Paseo</p>
                            <div class="bg-icon">
                                <div class="icon check-icon"></div>
                            </div>
                        </div>
                        <div class="event completed">
                            <p>Xdxdxd nosequeponer</p>
                            <div class="bg-icon">
                                <div class="icon check-icon"></div>
                            </div>
                        </div>
                        <div class="event completed">
                            <p>Hola wenas</p>
                            <div class="bg-icon">
                                <div class="icon check-icon"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="details">
                <h1>Observación</h1>
                <textarea class="details-text" id="" placeholder="Escribe lo que ha pasado hoy..." [(ngModel)]="details_text_selected"></textarea>
                <div class="emojis">
                    <span>El día fue...</span>
                    <div class="icon smile-icon {{ emoji_selected == 3 && 'active' }}" (click)="changeEmojiSelected(3)"></div>
                    <div class="icon meh-icon {{ emoji_selected == 2 && 'active' }}" (click)="changeEmojiSelected(2)"></div>
                    <div class="icon sad-icon {{ emoji_selected == 1 && 'active' }}" (click)="changeEmojiSelected(1)"></div>
                </div>
            </div>
            <div class="buttons">
                <button class="btn_soft btn-soft-primary" [disabled]="emoji_selected == -1" (click)="addOrEditDetail()">Guardar</button>
                <button class="btn_soft btn-soft-cancel" (click)="toggleEventContainer('cancel')">Cancelar</button>
            </div>
        </section>
    </section>
    
    
</article>