<article class="article-stats">
    <div class="aside-container">
        <app-aside></app-aside>
    </div>
    <span #error_msg_ref class="popup error-msg"></span>
    <span #success_msg_ref class="popup success-msg"></span>

    <section class="stats-container">
        <div class="div-1">
            <h1>Los mejores planes</h1>

            <div class="events-stats">

                <div class="event-stat">
                    <p class="event-name-stat">Día en Sevilla</p>
                    <div class="bar">
                        <div class="pg-bar"></div>
                    </div>
                    <h3 class="punct">62</h3>
                    <h4 class="punct-por">(12%)</h4>
                </div>


                <div class="event-stat">
                    <p class="event-name-stat">Cena McDonals</p>
                    <div class="bar">
                        <div class="pg-bar"></div>
                    </div>
                    <h3 class="punct">40</h3>
                    <h4 class="punct-por">(10%)</h4>
                </div>

                
                <div class="event-stat">
                    <p class="event-name-stat">Piso</p>
                    <div class="bar">
                        <div class="pg-bar"></div>
                    </div>
                    <h3 class="punct">140</h3>
                    <h4 class="punct-por">(70%)</h4>
                </div>

                
                <div class="event-stat">
                    <p class="event-name-stat">Día normal</p>
                    <div class="bar">
                        <div class="pg-bar"></div>
                    </div>
                    <h3 class="punct">240</h3>
                    <h4 class="punct-por">(70%)</h4>
                </div>

            </div>
        </div>
        <div class="div-2">
            <h1>Nuestro dia a dia</h1>

            <div class="days-stats">
                
                <div class="day-stat">
                    <div class="icon smile-icon"></div>
                    <div class="big-bar">
                        <div class="pg-bar"></div>
                    </div>
                    <h3 class="punct">300</h3>
                    <h4 class="punct-por">(50%)</h4>
                </div>

                <div class="day-stat">
                    <div class="icon meh-icon"></div> 
                    <div class="big-bar">
                        <div class="pg-bar"></div>
                    </div>
                    <h3 class="punct">100</h3>
                    <h4 class="punct-por">(20%)</h4>
                </div>

                <div class="day-stat">
                    <div class="icon sad-icon"></div>
                    <div class="big-bar">
                        <div class="pg-bar"></div>
                    </div>
                    <h3 class="punct">200</h3>
                    <h4 class="punct-por">(30%)</h4>
                </div>

            </div>
        </div>
    </section>
</article>