// COLORS
$black: #494949;
$gray: #CACACA;
$blue: #84DCC6;
$soft_blue: #A5FFD6;
$red_primary: #FFA69E;
$red_secondary: #FF686B;
$success_green: #4ECC53;
$bg_success_green: #092e0a;
$white: #FEFEFE;

// COLORS HOVER
$blue_hover: #76e0c6;

// TYPO
$raleway: 'Raleway', sans-serif;