.aside {
    height: 100%;
    width: 100%;
    background-color: $red_secondary;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;
    transition: all .3s ease;
    
    & > img {
        margin: 1.5rem auto;
        width: 80%;
    }

    & > article {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

    }
}