.btn { 
    padding: 1rem 2rem;
    cursor: pointer;
    color: $white;
    border-radius: 10px;
    border: none;
    font-size: 1.3em;
    letter-spacing: 2px;
    transition: background-color .2s ease, box-shadow .2s ease, opacity .2s ease;
}

.btn-primary {
    min-width: max-content;
    background-color: $blue;
}

.btn-primary:hover {
    background-color: $blue_hover;
    box-shadow: 0px 10px 50px 0px #27e4b53b;
}

.form-file {
    border-radius: 50%;
    padding: 1rem;
    position: fixed;
    z-index: 5;
    bottom: 30px;
    left: 60%;
    transform: translateX(-50%) scale(1);
    background-color: $red_secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow .2s ease, transform .2s ease;

    .icon {
        z-index: 1;
    }

    #input-file {
        display: none;
    }

    label {
        cursor: pointer;
        width: 100%;
        z-index: 2;
        position: absolute;
        height: 100%;
        background-color: transparent;
    }

    &:hover {
        box-shadow: 0px 10px 50px 2px rgba(255, 104, 107, 0.525);
        transform: translateX(-50%) scale(1.1);
    }
}

.btn_soft {
    background-color: transparent;
    color: $white;
    border: none;
    padding: .7rem 1.2rem;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 400;
    transition: background-color .2s ease, border .2s ease, opacity .2s ease;
}

.btn-soft-primary {
    background-color: $soft_blue;
}

.btn-soft-primary:hover {
    background-color: $blue;
}

.btn-soft-cancel {
    color: $red_primary;
}

.btn-soft-cancel:hover {
    background-color: #ffa69ea8;
}

.btn:disabled, .btn_soft:disabled {
    opacity: .5;
    pointer-events: none;
}