.icon {
    width: 26px;
    height: 26px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.passw-solid-icon {
    background-image: url('../../assets/icon/lock-solid.svg');
}

.user-solid-icon {
    background-image: url('../../assets/icon/user-solid.svg');
}

.msg-icon {
    background-image: url('../../assets/icon/message-square.svg');
}

.user-icon {
    background-image: url('../../assets/icon/user.svg');
}

.stats-icon {
    background-image: url('../../assets/icon/pie-chart.svg');
}

.gallery-icon {
    background-image: url('../../assets/icon/image.svg');
}

.calendar-icon {
    background-image: url('../../assets/icon/calendar.svg');
}

.logout-icon {
    background-image: url('../../assets/icon/log-out.svg');
}

.upload-icon {
    background-image: url('../../assets/icon/upload.svg');
}

.star-icon {
    background-image: url('../../assets/icon/star.svg');
}

.trash-icon {
    background-image: url('../../assets/icon/trash.svg');
}

.download-icon {
    background-image: url('../../assets/icon/download.svg');
}

.download-white-icon {
    background-image: url('../../assets/icon/download_white.svg');
}

.arrow-icon {
    background-image: url('../../assets/icon/arrow.svg');
}

.plus-icon, .add-icon {
    background-image: url('../../assets/icon/plus.svg');
}

.add-icon {
    display: none;
}

.check-icon {
    background-image: url('../../assets/icon/check.svg');
}

.sad-icon {
    background-image: url('../../assets/icon/frown.svg');
}

.smile-icon {
    background-image: url('../../assets/icon/smile.svg');
}

.meh-icon {
    background-image: url('../../assets/icon/meh.svg');
}

.send-icon {
    background-image: url('../../assets/icon/send.svg');
}