.stars {
    display: flex;
    
    .star {
        stroke: #d9d9d9 !important;
        margin: 0 .3rem;
        cursor: pointer;
    }

    .star:hover {
        stroke: $blue !important;
    }
}

.fill_star {
    fill: $blue;
    stroke: $blue;
}