<aside class="aside">
    <img src="../../../assets/img/JyM.png" class="logo">

    <article>
        <section class="aside__article__section aside__article__section-sect1">
            <div routerLink="/chat" class="menu-link-container" [ngClass]="url == 'chat' ? 'menu-link-active': ''">
                <div class="icon msg-icon"></div>
                <span>Chat</span>
            </div>

            <div routerLink="/stats" class="menu-link-container" [ngClass]="url == 'stats' ? 'menu-link-active': ''">
                <div class="icon stats-icon"></div>
                <span>Estadísticas</span>
            </div>

            <div routerLink="/gallery" class="menu-link-container" [ngClass]="url == 'gallery' ? 'menu-link-active': ''">
                <div class="icon gallery-icon"></div>
                <span>Galería</span>
            </div>

            <div routerLink="/calendar" class="menu-link-container" [ngClass]="url == 'calendar' ? 'menu-link-active': ''">
                <div class="icon calendar-icon"></div>
                <span>Calendario</span>
            </div>
        </section>
        <section class="aside__article__section aside__article__section-sect2">
            <div routerLink="/profile" class="menu-link-container" [ngClass]="url == 'profile' ? 'menu-link-active': ''">
                <div class="icon user-icon"></div>
                <span>Perfil</span>
            </div>

            <div routerLink="/logout" class="menu-link-container" [ngClass]="url == 'logout' ? 'menu-link-active': ''">
                <div class="icon logout-icon"></div>
                <span>Cerrar sesión</span>
            </div>
        </section>
    </article>
</aside>